<div th:fragment="header(activTab)">
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Mieten</title>

        <!-- Scripts -->
        <script th:src="@{/webjars/jquery/3.7.0/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery/jquery-ui.js}"></script>
        <script th:src="@{/js/bootstrap/popper.min.js}" defer></script>

        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>

        <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <link th:href="@{/css/menu.css}" rel="stylesheet">

    </head>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                Mieten
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">

                </ul>
                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Authentication Links -->
                    <!-- Locality link -->
                    <span th:if="${session.localityName}">
                        <a class="nav-link"
                           onClick="return confirm('Хотите изменить местоположение?')"
                           th:href="@{/update_location}"><img th:src="@{'/icons/map.svg'}" style="width: 19px; height: auto;
                       margin-bottom: 3px; margin-right: 3px">
                            <span id="locality" th:text="${session.localityName}">Locality</span></a>
                    </span>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/user/my_msg}" class="nav-link menu-icon" title="Мои сообщения" id="alerts">
                            <img th:src="@{'/icons/messages.svg'}"
                                 style="width: 22px; height: auto; margin-top: 2px">
                            <div id="notificationsMsg" class="notifications notificationsMsg"></div>
<!--                            <span th:if="${session.notificationsMsg > 0}">-->
                            <span id="counter" class="counter notifications" th:text="${session.notificationsMsg}">Notification</span>
<!--                        </span>-->
                        </a>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Логин</a>
                        </li>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                <span th:remove="tag" sec:authentication="name">thymeleaf</span> </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Настройки</a>
                                <a class="dropdown-item" th:href="@{/user/add_obj}">Добавить объект</a>
                                <a class="dropdown-item" th:href="@{/user/my_obj}">Мои объекты</a>
                                <a class="dropdown-item" th:href="@{/user/my_msg}">Мои сообщения</a>
                                <a class="dropdown-item" th:href="@{/logout}">Выйти</a>
                            </div>
                        </li>
                    </div>
                    <!--                    @endguest-->
                </ul>
            </div>
        </div>
    </nav>
</div>

