<div th:fragment="without_app_locality(activTab)">
    <!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Mieten</title>

        <!-- Scripts -->
        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
        <script th:src="@{/public/js/bootstrap/bootstrap.min.js}"></script>
        <script th:src="@{/public/js/jquery/jquery-ui.js}"></script>


        <!-- Styles -->
        <link th:href="@{/public/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/public/css/search/search_locality.css}" rel="stylesheet">


    </head>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                Mieten
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">

                </ul>
                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Authentication Links -->
                    <!-- Locality -->

                    <div sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Логин</a>
                        </li>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                <span th:remove="tag" sec:authentication="name">thymeleaf</span> </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/add_obj}">Добавить объект</a>
                                <a class="dropdown-item" th:href="@{/logout}">Выйти</a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>
