<div th:replace="~{layouts/header :: header(ViewMsg)}"/>
<link th:href="@{'/css/awesome/font-awesome-4.7.0/css/font-awesome.min.css'}" rel="stylesheet">
<link th:href="@{'/css/messages/messages.css'}" rel="stylesheet">
<style th:inline="css">
    .rem {
        opacity: 0.5;
    }
    .rem:hover {
        opacity: 1;
    }
</style>
<section>
    <div class="container px-4 px-lg-5"
         style="white-space: nowrap"> <!--Запрет переноса строк при уменьшении странцы браузера-->
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <div style="margin-top: 10px" id="framechat">
                    <div class="content">
                        <div class="header">
                            <table>
                                <div class="infoHeader" style="display: inline-block">
                                    <div th:if="${address}">
                                        <th>
                                            <div class="msgImg">
                                                <!--       !!!!!!!!!!!!!!!!!!!!!!!!Ссылка на объект-->
                                                <a style="text-decoration: none;"
                                                   th:href="@{'/obj/id' + ${objId}}">

                                                    <div th:if="${photo}">
                                                        <img class="imgMsg"
                                                             th:src="@{'/img_for_mieten17/' + ${photo}}"
                                                             style="width: auto; height: 60px"
                                                        >
                                                    </div>

                                                    <div th:unless="${photo}">
                                                        <img class="imgMsg"
                                                             th:src="@{'/images/no_image/no_image.jpg'}"
                                                             style="width: auto; height: 60px"
                                                        >
                                                    </div>
                                                </a>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="infoBlock">
                                                <b><span th:text="${toUserName}"></span></b><br>
                                                <small>
                                                    <div class="iconsSmall">
                                                        <img th:src="@{'/icons/map.svg'}"
                                                             style="width: 19px; margin: 0px 3px 7px 0"
                                                        ></div>
                                                    <span th:text="${address}"></span></small>
                                            </div>
                                        </th>
                                        <div th:if="${messages}">
                                            <a style="text-decoration: none;" title="Удалить чат"
                                               th:onClick="return confirm('Подтвердите удаление чата!')"
                                               th:href="@{'/user/delete_chat?to_user_id='+${toUserId} +'&from_user_id=' + ${fromUserId}+ '&obj_id='+${objId}}">

                                                <img class="imgMsg rem"
                                                     th:src="@{'/icons/del_message.svg'}"
                                                     style="width: auto; height: 25px; float: right; border: none; margin: 10px;"
                                                >
                                            </a>
                                        </div>
                                        <div th:unless="${address}">
                                            <div class="msgImg">
                                                <img class="imgMsg"
                                                     th:src="@{'/icons/no-entry.svg'}"
                                                     style="width: auto; height: 40px; border: none"
                                                >
                                                <div class="infoBlock">
                                                    Объект удалён
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </table>
                        </div>

                        <div class="messages">
                            <ul>
                                <div th:each="msg : ${messages}">
                                    <li class="send">
                                        <div class="myClass">
<!--                                            Эти сообщения от собеседника, отобразятся слева-->
                                            <div th:if="${msg.getFromUserId() != toUserId}">
                                                <div th:if="${msg.getStatus() == 0}">
                                                    <div class="messageBlock" th:id="${msg.getId()}"
                                                         style="background-color: #dad6f5; float: right;"
                                                         th:data-id="${msg.getId()}"
                                                         th:data-notified="${msg.getStatus()}">
                                                        <div class="round-popup">
                                                            <button th:data-id="${msg.getId()}" type="button"
                                                                    class="close"
                                                                    aria-label="Close"><span
                                                                    aria-hidden="true">&times;</span></button>
                                                        </div>
                                                        <big><span th:text="${msg.getBody()}"/><br></big>
                                                        <small style="opacity: 0.7"><span
                                                                th:text="${msg.getCreatedAt()}"/></small>
                                                    </div>
                                                </div>

                                                <div th:if="${msg.getStatus() != 0}">
                                                    <div class="messageBlock" th:id="${msg.getId()}"
                                                         style="float: right;"
                                                         th:data-id="${msg.getId()}"
                                                         th:data-notified="${msg.getStatus()}">
                                                        <div class="round-popup">
                                                            <button th:data-id="${msg.getId()}" type="button"
                                                                    class="close"
                                                                    aria-label="Close"><span
                                                                    aria-hidden="true">&times;</span></button>
                                                        </div>
                                                        <big><span th:text="${msg.getBody()}"/><br></big>
                                                        <small style="opacity: 0.7"><span
                                                                th:text="${msg.getCreatedAt()}"/></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:if="${msg.getFromUserId() == toUserId}">

                                                <div th:if="${msg.getStatus() == 0}">
                                                    <div class="messageBlock" th:id="${msg.getId()}"
                                                         style="background-color: #dad6f5;"
                                                         th:data-id="${msg.getId()}"
                                                         th:data-notified="${msg.getStatus()}">

                                                        <big><span th:text="${msg.getBody()}"/><br></big>
                                                        <small style="opacity: 0.7"><span
                                                                th:text="${msg.getCreatedAt()}"/></small>
                                                    </div>
                                                </div>
                                                <div th:if="${msg.getStatus() != 0}">
                                                    <div class="messageBlock" th:id="${msg.getId()}"
                                                         th:data-id="${msg.getId()}"
                                                         th:data-notified="${msg.getStatus()}">

                                                        <big><span th:text="${msg.getBody()}"/><br></big>
                                                        <small style="opacity: 0.7"><span
                                                                th:text="${msg.getCreatedAt()}"/></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <div id="messages"></div>
                            </ul>
                        </div>
                        <div th:if="${objId}">
                            <div class="message-input">
                                <div class="wrap">
                                    <input class="form-control" id="private-message" type="text" placeholder="Ваше сообщение..."/>
                                    <button id="send-private" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div th:unless="${objId}">
                            <div class="text-center">
                                <a class="btn btn-outline-danger btn-sm"
                                   onClick="return confirm('Подтвердите удаление!')"
                                   th:href="@{'/user/delete_chat?to_user_id='+${toUserId} +'&from_user_id=' + ${fromUserId}+ '&obj_id='+${objId} }">Удалить чат
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div th:if="${objId}">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script th:inline="javascript">
        let to_user_id = [[${toUserId}]];
        let from_user_id = [[${fromUserId}]];
        let obj_id = [[${objId}]];
        let chatId = [[${chatId}]];
    </script>
    <script th:src="@{'/js/messages/message.js'}"></script>
    <script th:src="@{'/js/messages/websocket/websocket.js'}"></script>
</div>

<div th:replace="~{layouts/footer :: footer(ViewMsg)}"/>



