<div th:fragment="filter(activTab)">
    <link th:href="@{/css/search/search_locality.css}" rel="stylesheet">
    <link th:href="@{/css/checkbox.css}" rel="stylesheet">
    <style th:inline="css">
        #dropdown {
            position: absolute;
            width: 95%;
            border-bottom: 0.3px solid;
            border-left: 0.3px solid;
            border-right: 0.3px solid;
            border-radius: 6px;
        }
    </style>

    <form method="post" th:action="@{/filter}">
        <div class="">
            <label for="value">Город:</label>
            <input id="value" class="form-control" type="text" th:value="${filter.getLocalityName()}"
                   name="localityName"
                   placeholder="Начните вводить город">
        </div>
        <div id="dropdown" style="margin-top: 10px">
            <select class="select" id="list"></select>
        </div>
        <br>
        <div>
            <label for="capacity">Количество человек:</label>
            <input id="capacity" name="capacity" th:value="${filter.getCapacity()}" type="number"
                   class="form-control" placeholder="Количество человек">

        </div>
        <br>
        <div>
            <h5>Количество комнат</h5>
            <label class="checkbox-btn2">
                <input type="checkbox" name="count_rooms" id="rooms"
                       value="студия">
                <span>Студия</span>
            </label>
            <input id="count" name="count_rooms" type="number"
                   class="form-control"
                   onkeypress="return (event.charCode >= 48 && event.charCode <= 57 && /^\d{0,2}$/.test(this.value));"
                   placeholder="Количество комнат" autocomplete="off">
        </div>
        <br>
        <div>
            <label for="price_from">Цена от:</label>
            <input id="price_from" name="price_from" type="number" th:value="${filter.getPriceFrom()}"
                   class="form-control" placeholder="Цена от">
        </div>
        <br>
        <div>
            <label for="price_to">Цена до:</label>
            <input id="price_to" name="price_to" th:value="${filter.getPriceTo()}" type="number" class="form-control"
                   placeholder="Цена до">
        </div>
        <br>
        <div>
            <label for="area_from">Общая площадь от:</label>
            <input id="area_from" name="area_from" th:value="${filter.getAreaFrom()}" class="form-control"
                   placeholder="Площадь от">
        </div>
        <br>
        <div>
            <label for="area_to">Общая площадь до:</label>
            <input id="area_to" name="area_to" th:value="${filter.getAreaTo()}" class="form-control"
                   placeholder="Площадь до">
        </div>
        <br>
        <div id="balconyAp">
            <label class="checkbox-btn2">
                <input id="balcony" class="balcony" type="checkbox" name="balcony[]"
                       value="балкон">
                <span>Балкон</span>
            </label>
            <label class="checkbox-btn2">
                <input id="loggia" type="checkbox" name="balcony[]"
                       value="лоджия">
                <span>Лоджия</span>
            </label>
        </div>
        <h5 style="margin-top: 25px">Этажность</h5>
        <label class="checkbox-btn2">
            <input type="checkbox" name="not_first" id="notFirst"
                   value="1">
            <span>Не первый</span>
        </label>
        <label class="checkbox-btn2">
            <input type="checkbox" name="not_end" id="notEnd"
                   value="1">
            <span>Не последний</span>
        </label>
        <br>
        <br>
        <label class="checkbox-btn2">
            <input type="checkbox" name="children" id="children"
                   value="да">
            <span>Можно с детьми</span>
        </label>
        <label class="checkbox-btn2">
            <input type="checkbox" name="animals" id="animals"
                   value="да">
            <span>Можно с животными</span>
        </label>
        <label class="checkbox-btn2">
            <input type="checkbox" name="smoking" id="smoking"
                   value="да">
            <span>Можно курить</span>
        </label>
        <label class="checkbox-btn2">
            <input type="checkbox" name="party" id="party"
                   value="да">
            <span>Разрешены вечеринки</span>
        </label>
        <label class="checkbox-btn2">
            <input type="checkbox" name="documents" id="documents"
                   value="да">
            <span>Есть отчётные документы</span>
        </label>
        <label class="checkbox-btn2">
            <input type="checkbox" name="monthly" id="monthly"
                   value="да">
            <span>Можно помесячно</span>
        </label>
        <br>
        <button class="btn btn-outline-success small" type="submit">Искать</button>
    </form>
    <button class="btn btn-outline-danger small" id="reset" type="submit">Сбросить фильтр</button>


    <script th:inline="javascript">
        let notFirst = [[${filter.getNotFirst()}]]
        let notEnd = [[${filter.getNotEnd()}]]
        let monthly = [[${filter.getMonthly()}]];
        let countRooms = [[${filter.getCountRooms}]];
        let balcony = [[${filter.getBalcony()}]];
        let children = [[${filter.getChildren()}]];
        let animals = [[${filter.getAnimals()}]];
        let smoking = [[${filter.getSmoking()}]];
        let party = [[${filter.getParty()}]];
        let documents = [[${filter.getDocuments()}]];
    </script>

    <script type="text/javascript" th:src="@{/js/filter/filter.js}"></script>
    <script type="text/javascript" th:src="@{/js/filter/reset.js}"></script>
    <script type="text/javascript" th:src="@{/js/search/search_locality.js}"></script>
    <script type="text/javascript" th:src="@{/js/checkbox/checkbox.js}"></script>
</div>