<div th:replace="~{layouts/header :: header(Add_address)}"/>

<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <div th:if="${message}">
                    <span th:text="${message}"/>
                </div>
                <h1 style="margin: 40px 0 60px 0">Добавить объект</h1>
                <div class="err" th:if="${error}">
                    <span th:text="${error}"/>
                </div>
                <form th:action="@{/add_address}" method="post">
                    <br>
                    <div>
                        <label th:for="address"><b>Адрес:</b></label>
                        <input name="address" type="text" value=""
                               class="form-control" id="suggest"
                               placeholder="Адрес" autocomplete="off" required>
                    </div>
                    <br>
                    <button class="btn btn-outline-success" type="submit">
                        Продолжить
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="//api-maps.yandex.ru/2.1/?94532f3f-9b0c-4212-ba00-c873aeb2ab32&lang=ru_RU&load=SuggestView&onload=onLoad"></script>
<!--<script src="//api-maps.yandex.ru/2.1/?apikey=c5583e4f-c62e-418f-bb87-3c814516c530&lang=ru_RU"></script>-->
<script type="text/javascript" th:src="@{/public/js/ymaps/ymaps.js}"></script>
<script type="text/javascript" th:src="@{/public/js/messages/message_hide_click.js}"></script>

<script th:inline="javascript">

    //вызываем код по факту готовности объекта ymaps
    ymaps.ready(inits);


    function inits() {
        const address = 'проспект Авиаторов Балтики,13';
        $.ajax({
            method: 'GET',
            url: 'https://geocode-maps.yandex.ru/1.x/?apikey=c5583e4f-c62e-418f-bb87-3c814516c530&format=json&geocode=' + address + '',
            success: function(data) {
                $.ajax({
                    method: 'POST',
                    contentType: 'application/json; charset=UTF-8',
                    dataType: "json",
                    url: "/add_object",
                    data: JSON.stringify(data),

                    success: function (res){
                        alert(123);
                    }
                });
                // let pos = (data.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos);
                // let posArray = pos.split(" ")
                // let coordinates = posArray[1] + " " + posArray[0];
                // let object = data.response.GeoObjectCollection.featureMember[0].GeoObject.metaDataProperty.GeocoderMetaData.Address.Components;
                // getCountryId(object);
                // $.ajax({
                //     type: "post",
                //     url: "/add_object",
                //     data: {
                //         address: address,
                //         coordinates: coordinates,
                //     },
                //
                // });
            }
        })
    }

    // function getLocalityId(object, countryId) {
    //     let count = object.length;
    //     let locality = null;
    //     var id = null;
    //     var country = countryId;
    //     for (i = 0; i < count; i++) {
    //         if (object[i]['kind'] === "locality") {
    //             locality = object[i]['name'];
    //         }
    //     }
    //     $.ajax({
    //         method: "GET",
    //         data: {
    //             locality: locality,
    //             countryId: country
    //         },
    //         url: '/get_locality_id',
    //         success: function (data) {
    //             alert(data);
    //         }
    //     });
    //
    // }
    //
    // function getCountryId(object) {
    //     let count = object.length;
    //     let country = null;
    //     var id = null;
    //     for (i = 0; i < count; i++) {
    //         if (object[i].kind === "country") {
    //             country = object[i].name;
    //             break;
    //         }
    //     }
    //     $.ajax({
    //         method: "GET",
    //         data: {country: country},
    //         url: '/get_country_id',
    //         success: function (data) {
    //             getLocalityId(object, data);
    //
    //         }
    //     });
    // }


</script>
<div th:replace="~{layouts/footer :: footer(Add_address)}"/>



